<div class="col-12 bg-light text-dark d-inline-flex justify-content-center mw-100">
    <div class="card m-5 w-100">
        <div class="card-header bg-dark text-light">Login</div>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="submitLogin()">
                <div class="alert alert-danger" [hidden]="!error"> {{error}} </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control bg-light text-dark" id="username" name="username" [(ngModel)]="form.username" required>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control bg-light text-dark" id="password" name="password" [(ngModel)]="form.password" required>
                </div>
                <div class="col-12 mw-100 d-inline-flex justify-content-center mb-3">
                  <button type="submit" class="btn btn-danger w-100 m-3" [disabled]="!loginForm.valid">Login</button>
                  <a class="btn btn-danger w-100 text-light m-3" routerLink="../signup">Signup</a>
                </div>
            </form>
        </div>
    </div>
</div>