<div class="col-12">
    <div class="col-12 d-inline-flex justify-content-center">
        <iframe class="m-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d198.14732391684845!2d-5.956536965038738!3d37.38138444541846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126ee9f40bdd71%3A0x2e0980c9644faf1!2sIglesia%20B%C3%ADblica%20Nueva%20Si%C3%B3n%20Sevilla!5e0!3m2!1ses!2ses!4v1682781596796!5m2!1ses!2ses" width="150%" height="275px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="card text-dark bg-light m-3">
            <div class="card-header">Información Relevante</div>
            <div class="card-body">
              <h5 class="card-title">Información de Contacto</h5>
              <p class="card-text">Puedes contactarnos al email lapalabraesperanzayt@gmail.com, seguirnos en Youtube como @m28onboard, ver nuestros mensajes evangelísticos en Facebook como Misión Huellas Cristianas y unirte a nuestros estudios bíblicos presenciales haciendo click en el botón de unirte a nuestro grupo de whatsapp los cuales se hacen en la dirección designada por el mapa a las 19:30 martes o miércoles dependiendo de la semana.</p>
              <div class="col-12 mw-100 d-inline-flex justify-content-center mb-3">
                <a class="btn btn-danger w-100 m-3" href="https://chat.whatsapp.com/HGjfKLxNLzCFj9sIY59KUo" style="text-decoration: none; color: white;">Unirte al Grupo de Whatsapp</a>
                <a class="btn btn-danger w-100 m-3" href="https://www.paypal.com/donate/?hosted_button_id=T3MJBGSKDB2XU">Donar al Ministerio</a>
              </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card-group">
            <div class="card">
              <img src="../../../assets/DISCIPULADO.jpg" class="card-img-top d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Visión</h5>
                <p class="card-text">Queremos ver; primeramente, una Sevilla totalmente transformada por el poder de Salvación del Evangelio. A los no creyentes los queremos ver aceptando de corazón al Señor Jesús como su SEÑOR y Salvador y a los creyentes los queremos ver; personalmente, con un gran deseo de buscar al Señor en cada área de sus vidas pero también como Iglesia queremos ver una Iglesia comprometida y en movimiento para compartir a otros del Evangelio sin importar la oposición.</p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/ESTUIDOS BÍBLICOS.jpeg" class="card-img-top d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">1. Capacitar a creyentes para compartir el Evangelio de manera eficaz.<br>2. Capacitar a  creyentes para discipular a Nuevos Conversos y afines a la religión Evangélica para ver conversiones genuinas y personas fieles y perseverantes en la búsqueda del Señor.<br>3. Predicar las Buenas Nuevas de Salvación a toda criatura mediante el  Evangelismo.<br>4. Enseñar correctamente las Escrituras especialmente el consejo del Señor mediante Estudios Bíblicos y Discipulados.</p>
              </div>
            </div>
            <div class="card">
              <img src="../../../assets/EVANGELISMO.jpg" class="card-img-top d-block w-100" alt="...">
              <div class="card-body">
                <h5 class="card-title">Metas</h5>
                <p class="card-text">Como grupo nuestras metas comienzan por llevar a Sevilla a un encuentro genuino con Dios a través del Evangelismo Público y llevar a los cristianos en toda la provincia a un Avivamiento que los lleve a servir al Señor y a buscar más de Él con Discipulados y Estudios Bíblicos.<br>1. Compartir el Evangelio de la Salvación a todo ser humano perdido y caído.<br>2. Fomentar grupos de trabajo donde exista tanto Evangelismo como Discipulados de manera reproducible para cualquiera.<br>3. Fomentar el apoyo a las Misiones y Puntos de Misión mediante la oración personal.<br>4. Fomentar el Discipulado de nuevos creyentes así como el buscar al Señor de los ya creyentes con Estudios Bíblicos.</p>
              </div>
            </div>
          </div>
    </div>
</div>