<div class="col-12 d-inline-flex justify-content-center mw-100 m-3">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Felicitaciones!</h4>
        <p>Acabas de completar el curso de {{cursoData.nombre}} impartido por el pastor <a class="alert-link" href="{{profesorData.info_profesor}}">{{usuarioData.nombre}}</a>.
            Oseas 4:6 dice: Mi pueblo fue destruido, porque le faltó conocimiento. Por cuanto desechaste el conocimiento, yo te echaré del sacerdocio; y porque olvidaste la ley de tu Dios, también yo me olvidaré de tus hijos.
            a lo que Proverbios 1:7 añade: El principio de la sabiduría es el temor de Jehová;
            Los insensatos desprecian la sabiduría y la enseñanza.
            Por tanto recuerda que todo el conocimiento adquirido no te sirve de nada si no eres capaz de llevarlo a la práctica como dice Jesús en Juan 14:15: Si me amáis, guardad mis mandamientos. Así que te exhorto a guardar cada palabra de verdad que has aprendido en este curso.
        </p>
        <hr>
        <a class="btn btn-outline-success alert-link w-100" href="../../pathway/{{cursoData.itinerario}}">Ir al detalle de {{itinerarioData.nombre}}</a>
    </div>
</div>