<div class="col-12 d-inline-flex justify-content-center">
    <div class="card m-5 w-75">
        <div class="card-header bg-dark text-light">Editar Curso</div>
        <div class="card-body">
            <form #courseForm="ngForm" (ngSubmit)="editCourse()">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre del Curso</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                        placeholder="{{cursoData.nombre}}" [(ngModel)]="form.nombre" required>
                </div>
                <div class="mb-3">
                    <label for="profesor" class="form-label">Profesor del Curso</label>
                    <select class="form-select" id="profesor" name="profesor" [(ngModel)]="form.profesor" required>
                        <option>Selecciona un Profesor...</option>
                        <option *ngFor="let profesor of profesorList" [ngValue]="profesor.id" selected>
                            <ul *ngFor="let usuario of usuarioList">
                                <ul *ngIf="profesor.id==cursoData.profesor">
                                    <li *ngIf="profesor.id==usuario.id">{{usuario.name}}</li>
                                </ul>
                            </ul>
                        </option>
                        <option *ngFor="let profesor of profesorList" [ngValue]="profesor.id">
                            <ul *ngFor="let usuario of usuarioList">
                                <li *ngIf="profesor.id==usuario.id">{{usuario.name}}</li>
                            </ul>
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="itinerario" class="form-label">Itinerario del Curso</label>
                    <select class="form-select" id="itinerario" name="itinerario" [(ngModel)]="form.itinerario" required>
                        <option>Selecciona un Itinerario...</option>
                        <option *ngFor="let itinerario of itinerarioList" [ngValue]="itinerario.id" selected>
                            <ul *ngIf="itinerario.id==cursoData.itinerario">
                                <li>{{itinerario.nombre}}</li>
                            </ul>
                        </option>
                        <option *ngFor="let itinerario of itinerarioList" [ngValue]="itinerario.id">{{itinerario.nombre}}</option>
                    </select>
                </div>
                <!-- <div class="w-100 mb-4 d-inline-flex">
                    <div class="m-1 w-25">
                        <label for="formFile" class="form-label">Imagen del Curso</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="m-1 w-75">
                        <label for="formGroupExampleInput" class="form-label">Descripción del Curso</label>
                        <input type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Example input placeholder">
                    </div>
                </div> -->
                <button type="submit" class="btn btn-danger w-100">Editar Curso</button>
            </form>
        </div>
    </div>
</div>