<div class="col-12">
    <div class="col-12" >
        <div class="card m-5 mw-100">
            <div class="card-img-top">
                <iframe class="e2e-iframe-untrusted-src mw-100" width="100%" height="567px" [src]="videoUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="card-body mw-100 d-inline-flex justify-content-center">
                <h5 class="card-title m-1">{{documentosData.nombre}}</h5>
                <!-- <p class="card-text">Class Description</p>
                <a class="card-text text-danger" style="text-decoration: none" href="#"><small>Teacher
                        Name</small></a> -->
                <!-- <a class="col-2 btn btn-outline-danger m-1">Próxima Lección</a> -->
            </div>
        </div>
    </div>
    <div class="card m-5 mw-100">
        <div class="card-header bg-danger text-light">{{cursoData.nombre}}</div>
        <div *ngFor="let seguimiento of seguimientosList">
            <div *ngFor="let documento of documentosList">
                <div *ngIf="id == documento.id_curso">
                    <ul class="list-group list-group-flush">
                        <div *ngIf="seguimiento.class_completed == 1 && seguimiento.id_documento == documento.id">
                            <li class="list-group-item"><a class="text-success" style="text-decoration: none; font-weight: bold;" href="../../class/{{documento.id}}/{{documento.id_curso}}">{{documento.nombre}}</a></li>
                        </div>
                        <div *ngIf="seguimiento.class_completed == 0 && seguimiento.id_documento == documento.id">
                            <li class="list-group-item"><a class="text-danger" style="text-decoration: none" href="" (click)="onClickedNextClass(documento.id_curso, documento.id, $event)">{{documento.nombre}}</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 d-inline-flex justify-content-center btn btn-success">
            <a class="mw-100 text-white" style="text-decoration: none; font-weight: bolder;" (click)="onClickedFinishCourse(id, documentoId)">Finalizar Curso</a>
        </div>
    </div>
</div>